/* Extra small up to medium devices (phones and tablets, 300px and up) */
@media (max-width: 991px) {

    .heading {
        text-align: center;
    }

    .container {
        text-align: center;
    }

    .container p {
        text-align: justify;
    }

    .title {
        margin-top: 30px;
        margin-bottom: 15px;
    }

}


.img {
    max-height: 200px;
    border-radius: 12px;
}

.container {
    border-radius: 15px;
    background-color: white;
    box-shadow: #314d51 0px 1px 5px;
    justify-content: center;
    align-items: center;
}

.container2 {
    padding: 50px;
}

.heading {
    color:  white;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}

.title {
    color: var(--color4);
}

.btn {
    border: 1.4px solid var(--color4);
    border-radius: 7px;
    padding: 5px 15px;
    max-width: fit-content;
    background-color: none !important;
    background: none !important;   
    margin: 0;
    margin-top: auto;
    font-weight: 500;
    color: var(--color4);
    text-decoration: none;
}

.btn:hover {
    border: 1.4px solid var(--color4);
    background-color: var(--color4) !important;
    color: white;
}

.btn2 {
    border: 1.4px solid white;
    border-radius: 7px;
    padding: 5px 15px;
    max-width: fit-content;
    background-color: none !important;
    background: none !important;   
    margin: 0;
    margin-top: auto;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.btn2:hover {
    /* color: #314D51; */
    border: 1.4px solid white;
    background-color: white !important;
    color: var(--color5);
}