.container {
    border-radius: 15px;
    background-color: white;
    box-shadow: #CCCCCC 0px 3px 6px;
    height: 40em !important;
    justify-content: center;
    align-items: center;
}

.container2 {
    height: 40em !important;
    background-color: none;
}
