:root {
  /* colours scheme */
  --color1: #D6D2B5;
  --color2: #CBA45E;
  --color3: #A1C2C7;
  --color4: #749FA5;
  --color5: #507F85;
  --black: #242424;

  /* fonts */
  --font1: 'Montserrat';
  --font2: 'Poiret One';
}

p {
    font-size: 9px;
}

h6 {
    font-size: 10px;
    font-weight: 500;
}
