/* Extra small up to medium devices (phones and tablets, 300px and up) */
@media (max-width: 991px) {
    .row {
        padding: 30px;
        text-align: center;
    }
    /* COLUMN 1 */
    .heading {
        text-transform: none;
        font-weight: lighter;
        letter-spacing: normal;
        font-size: small;
    }

    .subheading {
        font-weight: bold;
        color: var(--gray);
        font-size: large;
        text-align: center;
    }

    .icons {
        max-height: 20px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .btn1 {
        border: 1.4px solid var(--color3) !important;
        background-color: var(--color3) !important;
        border-radius: 7px;
        font-size: 12px;
        padding: 5px 40px;
        margin: 10px 10px;
        text-decoration: none !important;
        color: white;
    }

    .btn1:hover {
        border: 1.4px solid var(--color4) !important;
        background-color: var(--color4) !important;
        color: white;
    }

    .btn2 {
        border: 1.4px solid var(--color3) !important;
        background-color: white !important;
        color: var(--color3);
        border-radius: 7px;
        font-size: 12px;
        padding: 5px 40px;
        margin: 10px 10px;
        text-decoration: none !important;
    }

    .btn2:hover {
        border: 1.4px solid var(--color4) !important;
        background-color: white !important;
        color: var(--color4);
    }

    /* COLUMN 2 */
    .img {
        border-radius: 100%;
        max-height: 150px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .row {
        padding: 50px;
    }

    /* COLUMN 1 */
    .heading {
        text-transform: none;
        font-size: 24px;
        font-family: var(--font3);
        font-weight: bold;
    }

    .heading2 {
        text-transform: none;
        font-weight: bolder;
        letter-spacing: normal;
    }

    .heading3 {
        font-weight: bold;
        color: var(--gray);
        font-size: 40px;
        letter-spacing: 5px;
    }

    .icons {
        max-height: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .btn1 {
        color: white;
        border: 1.4px solid var(--color3) !important;
        background-color: var(--color3) !important;
        border-radius: 7px;
        margin-right: 30px;
        padding: 5px 40px;
        font-weight: 500;
        text-decoration: none !important;
    }

    .btn1:hover {
        border: 1.4px solid var(--color4) !important;
        background-color: var(--color4) !important;
        color: white;
    }

    .btn2 {
        border: 1.4px solid var(--color3) !important;
        background-color: white !important;
        color: var(--color3);
        border-radius: 7px;
        margin-right: 30px;
        padding: 5px 40px;
        font-weight: 500;
        text-decoration: none !important;
    }

    .btn2:hover {
        border: 1.4px solid var(--color4) !important;
        background-color: white !important;
        color: var(--color4);
    }

    /* COLUMN 2 */
    .img {
        max-height:400px !important;
        border-radius: 50%;
    }
}