/* STYLES FOR ALL PAGES */

/* fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

:root {
    /* colours scheme */
    --color1: #DABD87;
    --color2: #B57B0F;
    --color3: #B9DBE5;
    --color4: #A1C2C7;
    --color5: #749FA5;
    --color6: #507F85;
    --black: #212529;

    /* fonts */
    --font1: "Roboto";
    --font2: "Poppins";
    --font3: "Poiret One";
}

body {
    font-family: var(--font1);
    font-size: 12px;
}

/* nav bar */
.navbar {
    font-family: var(--font3);
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    background-color: white;
}

.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

.nav-link {
    color: var(--color6);
}

.nav-link:hover, #active_link {
    color: var(--color2);
    text-decoration: overline;
}

#next-arrow {
    color: var(--color1);
}

#next-arrow:hover {
    color: var(--color2);
}

#link-to-abt-page {
    text-decoration: none;
    color: var(--color1);
    padding: 5px 10px;
    border: var(--color1) 1.5px solid;
    border-radius: 15px;
}

#link-to-abt-page:hover {
    color: var(--color2);
    border: var(--color2) 1.5px solid;
}

/* applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #lg-nav {
        visibility: hidden;
    }

    #md-sm-nav {
        visibility: visible;
    }

    #menu {
        height: 25px;
        border: var(--color5) 1.5px solid;
        border-radius: 7px;
        padding: 3px 7px;
    }
    
    #menu:hover {
        border: var(--color2) 1.5px solid;
    }
    
    .dropdown-item {
        color: var(--color6);
        font-weight: 600;
    }
    
    .dropdown-item:hover {
        color: var(--color6);
        background-color: var(--color3);
    }
    
    #active_item {
        color: var(--color2);
    }
}

/* applies to large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #lg-nav {
        visibility: visible;
        margin-top: 10px;
    }
    
    #md-sm-nav {
        visibility: hidden;
    }
}




/* Styles for section 1 of home page */

/* Desktop View */
#home_img2 {
    width: 25%;
}

#home_img {
    width: 40%;    
    animation: pulsing 8s infinite;
    padding-top: 30px;
    padding-bottom: 50px;
}
  
@keyframes pulsing {
    0% {
        transform: scale(0.8, 0.8)
    }
    50% {
        transform: scale(1.0, 1.0);
    }
    100% {
        transform: scale(0.8, 0.8);
    }
}

#home_img_section {
    padding-top: 90px;
    padding-bottom: 80px;
}

