/* Styles for skills and experience section of home page */

/* Desktop View */
#skills_section {
    padding-top: 60px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

#skills_section_div1 {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #507F85;
}

#skills_section_div2 {
    padding-top: 20px;
    padding-bottom: 50px;
}

#skills_section_div2 h3 {
    color: #749FA5;
    padding-bottom: 15px;
}

#skills_section_div2 ul, #exp_section_div2 ul {    
    list-style-type: none;
}

#skills_section_div2 li  {    
    padding-top: 20px;
}

.skill_name { 
    padding-top: 15px;
    padding-bottom: 0px;
    font-size: 17px;
    color: #749FA5;
}

#progress {
    background-color: #D3D3D3;
    width: 400px;
}

.progress-bar {
    background-color: #507F85;
}

#skills_section_div2_col1 {
    border-right: #749FA5 1px solid;
    padding-right: 30px;
}

#skills_section_div2_col2 {
    padding-left: 30px;
}

.exp_name {
    color: #749FA5;
    padding-top: 7px;
    font-size: 17px;
}



/* Tablet View */

/* Mobile View */
