/* Styles for the skills section */

/* general styles */

/* applies to large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #skills-section {
        margin-top: 100px;
        margin-bottom: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }

    #skills-section-div1 h2 {
        font-family: var(--font3);
        color: var(--color5);
        font-weight: 800;
        font-size: 36px;
        padding-bottom: 30px;
    }

    #skills-dev .skill, #skills-fw .skill, #skills-ui .skill, #skills-qa .skill {
        border-radius: 5px;
    }


    #skills-dev .skill {
        background-color: var(--color3);
    }

    #skills-ui .skill {
        background-color: var(--color4);
    }

    #skills-fw .skill {
        background-color: var(--color5);
    }

    #skills-qa .skill {
        background-color: var(--color6);
    }


    .progress {
        width: 30%;
    }
}