@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&family=Varela+Round&display=swap');

:root {
  /* colours scheme */
  --color1: #D6D2B5;
  --color2: #CBA45E;
  --color3: #A1C2C7;
  --color4: #749FA5;
  --color5: #507F85;
  --black: #242424;
  --gray: #999999;

  /* fonts */
  --font1: 'Montserrat';
  --font2: 'Varela Round';
  --font3: 'Yomogi';
}

#root {
  /* background color of webpage */
  background-image: linear-gradient(to right, var(--color3), var(--color5));
}

h3, h4, h5 {
    font-family: var(--font2);
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
}


