.btn {
    border: 1.4px solid white;
    border-radius: 7px;
    padding: 5px 10px;
    max-width: 100px;
    background-color: none !important;
    background: none !important;   
    margin: 0;
    margin-top: auto;
    font-size: 11px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-align: center;
}

.btn:hover {
    /* color: #314D51; */
    border: 1.4px solid white !important;
    background-color: white !important;
    color: var(--color5);
}